body {
    font-family: 'Arial', sans-serif;
}

.custom-navbar {
    background-color: #4CAF50;
    color: #fff;
    
}

.custom-navbar .nav-link {
    color: #fff;
}

.custom-navbar .navbar-toggler {
    border-color: #fff;
}

.custom-navbar .navbar-toggler-icon {
    background-color: #fff;
    
}

section {
    padding: 60px 0;
}

h1 {
    font-size: 2.5rem;
    color: #28a745;
}

label {
    font-weight: bold;
}

.form-select {
    font-size: 1.1rem;
    padding: 10px;
}

#cursos-lista {
    margin-top: 20px;
    font-size: 1.1rem;
}

#cursos-lista li {
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    text-align: left;
}